
/*#logo{	
	display: block;
	position: absolute;
	top: 28%;
	left: 40%;   
}*/
.center{
	}
#topbar1{
	height: 200px;
	margin: auto;
	text-align: right;
	margin-right: 20px;
}
.stuff{
	display: inline-block;
	vertical-align: middle;
	
}
.links{
	text-decoration: none;
	color: black;
	font-family: arial, sans-serif;
	font-size: 13px;
	margin: 5px; 
	margin-top: 10px;
}
.plinks{
	height: 25px;
	width: 25px;
	padding: 5px;
	margin-top: 10px;
}
#logo{
	height: 100px;
	width: 300px;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

#searchbar{
	width: 450px;
	height: 25px;
	margin: auto;
	display: block;
	border: 1px solid gray;
}

#button1{	
	margin: auto;
	margin-left: 38%;
	margin-top: 40px;
    width: 150px;
	height: 25px;
    display: block;
	float:left;
	font-family: arial, sans-serif;
	font-size: 13px;
	/*border: 1px solid gray;*/
}
#button2{	
	margin: auto;
	margin-right: 38%;
	margin-top: 40px;
    width: 150px;
	height: 25px;
    display: inline-block;
	float: right;
	font-family: arial, sans-serif;
	font-size: 13px;
}
#bottom{
	float: bottom;
	
}